mixin grid()

  - var plateClass = 'bg-black clr-white p-1 text-center base-radius'

  section(class="grid mb-3 pt-3")
    div(class="container")
      div(class="row")
        
        div(class="col col-12") #[h1 Grid]

        //- Base grid
        div(class="col col-12") #[h3 Base grid]

        - var n = 0
        while n < 12
          div(class="col col-1") #[div(class=plateClass)=n++ + 1]

        +divider("small")

        - var n = 0
        while n < 6
          div(class="col col-2") #[div(class=plateClass)=n++ + 1]

        +divider("small")

        - var n = 0
        while n < 4
          div(class="col col-3") #[div(class=plateClass)=n++ + 1]

        +divider("small")

        - var n = 0
        while n < 3
          div(class="col col-4") #[div(class=plateClass)=n++ + 1]

        +divider("small")

        - var n = 0
        while n < 2
          div(class="col col-6") #[div(class=plateClass)=n++ + 1]

        +divider("small")

        div(class="col col-12") #[div(class=plateClass) 12]

        +divider("large")

        //- Aside
        div(class="col col-12") #[h3 Aside]

        div(class="col col-1") #[div(class=plateClass) 1]
        div(class="col col-11") #[div(class=plateClass) 2]

        +divider("small")

        div(class="col col-2") #[div(class=plateClass) 1]
        div(class="col col-10") #[div(class=plateClass) 2]

        +divider("small")

        div(class="col col-3") #[div(class=plateClass) 1]
        div(class="col col-9") #[div(class=plateClass) 2]

        +divider("small")

        div(class="col col-4") #[div(class=plateClass) 1]
        div(class="col col-8") #[div(class=plateClass) 2]

        +divider("small")

        div(class="col col-5") #[div(class=plateClass) 1]
        div(class="col col-7") #[div(class=plateClass) 2]

        +divider("small")

        div(class="col col-6") #[div(class=plateClass) 1]
        div(class="col col-6") #[div(class=plateClass) 2]

        +divider("small")

        div(class="col col-7") #[div(class=plateClass) 1]
        div(class="col col-5") #[div(class=plateClass) 2]

        +divider("small")

        div(class="col col-8") #[div(class=plateClass) 1]
        div(class="col col-4") #[div(class=plateClass) 2]

        +divider("small")

        div(class="col col-9") #[div(class=plateClass) 1]
        div(class="col col-3") #[div(class=plateClass) 2]

        +divider("small")

        div(class="col col-10") #[div(class=plateClass) 1]
        div(class="col col-2") #[div(class=plateClass) 2]

        +divider("small")

        div(class="col col-11") #[div(class=plateClass) 1]
        div(class="col col-1") #[div(class=plateClass) 2]

        +divider("large")

        div(class="col col-12") #[h3 Responsive (change window width)]

        div(class="col lg-8 md-6 sm-4 xs-9 mo-10 col-12") #[div(class=plateClass) 1]
        div(class="col lg-4 md-6 sm-8 xs-3 mo-2 col-12") #[div(class=plateClass) 2]

        +divider("large")

        div(class="col col-12") #[h3 Offset]

        div(class="col col-4 offset-col-1 offset-sm-2 offset-lg-4 offset-xl-0") #[div(class=plateClass) 1]